<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service - Ascend Career Guidance</title>
    <link rel="icon" href="static/assets/Alogo.jpeg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/privacy_styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('landing') }}"><img src="{{ url_for('static', filename='assets/Ascend.jpeg') }}" alt="logo" class="logo"></a>
        </div>
        <h1>Terms of Service</h1>
    </header>

    <main>
        <section class="policy">
            <h2>Acceptance of Terms</h2>
            <p>By accessing Ascend Career Guidance, you agree to comply with these Terms of Service.</p>
        </section>
        <section class="policy">
            <h2>Use of Services</h2>
            <p>You agree to use our services responsibly and legally.</p>
        </section>
        <section class="policy">
            <h2>Termination</h2>
            <p>We reserve the right to terminate services if terms are violated.</p>
        </section>
        <section class="policy">
            <h2>Changes to Terms</h2>
            <p>We may update terms from time to time; continued use means acceptance.</p>
        </section>
    </main>

</body>
</html>